body {
    margin: 0;
    padding: 0;


}

* {}

.sec1 {
    height: 100vh;
    width: 100%;
}




.uppernav {
    height: 5vh;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;

}

h5 {
    color: white;
    position: absolute;
    font-size: 17px;
}

/***navbar***/

.navbar {
    background-color: whitesmoke;
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid gray;



}

.navbar2 {
    height: 15vh;
    width: 100%;
    padding-top: ;
    display: flex;
    align-items: center;
    background-color: ;
}

.icon {
    height: 5vh;
    width: 37%;
}

.bar {
    cursor: pointer;
}

button {
    border: none;
    background-color: #fff;
}


.navbar .navbar2 .icon .ikon {
    font-size: 25px;
    color: black;
    padding-left: 15px;
}

/*side menu list*/

.sidemenu {
    height: 100vh;
    width: 20%;
    background-color: whitesmoke;
    position: absolute;
    left: -100%;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.log {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 1px solid black;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: ;
}

.butt-log {

    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.login {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;

}

.logina {
    font-size: 18px;
}

.close {
    font-size: 35px;
    border: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-list {
    height: 50vh;
    width: 100%;
    background-color: ;
    display: inline-block;
    align-items: center
}

.menu-list ul {
    width: 100%;
    height: 100%;
    display: inline;
    padding: 0;
}


.menu-list ul a {
    text-align: center;
    font-size: 17px;
}

.menu-list ul a li {
    list-style: none;
    border-bottom: 1px ridge black;
    padding-bottom: 11px;
    padding-top: 11px;
}


.sidemenu .social {
    height: 26vh;
    width: 100%;
    background-color: ;
    display: ;
}


.sidemenu .social .line2 {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.social .line1 {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.sidemenu .social .line1 .media1,
.media2,
.media3 {
    height: 100%;
    width: 30%;
    background-color: ;
    border: 1px solid black;
    border-bottom: none;


}

.sidemenu .social .line1 .media1,
.media2,
.media3,
a {
    text-align: center;
    font-size: 50px;
    align-items: center;


}


.sidemenu .social .line2 .media4,
.media5,
.media6 {

    height: 100%;
    width: 30%;
    background-color: ;
    border: 1px solid black;
    margin-top: 5px;

}

.sidemenu .social .line2 .media4,
.media5,
.media6,
a {
    text-align: center;
    font-size: 50px;

}

/* side menu bar close */


.socialicon {
    font-size: 50px;
}

.navlogo {
    height: 87px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70%;
    width: 70%;
    background-image: url(img/tees.png);
    background-size: cover;
}

.menu {
    height: 100%;
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.items {
    font-size: 22px;
    margin: 15px;

}

.items:hover {
    font-size: 20px;
    margin: 15px;
    color: lime;

}


.loginframe {
    height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: ;

}




.login-container {
    height: 50vh;
    width: 20%;
    background: whitesmoke;
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 15px 15px 20px black;
    text-align: center;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
}

.f1{
    background-color: none;
}


.form-group {
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    height: ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
}


input[type=submit] {
    background-color: #000000;
    color:white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

input[type=submit]:hover  {
    background-color: #0056b3;
}

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-decoration: solid;
}

a:hover {
    scale: 100%;
    color: #0056b3;
    text-decoration: underline;
}

/*  footer   */


.sec9 {
    height: 70vh;
    width: 100%;
    padding-top: 60px;
    background-color: ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec9 .footer-a {
    height: 47%;
    width: 100%;
    display: flex;
    color: aliceblue;
    background-color: black;
}

.footer-a .fa,
.fb,
.fc,
.fd {
    height: 100%;
    width: 25%;

}

.fa {
    text-align: center;

}

.fa h4 {
    font-size: 27px;
    font-weight: 2000;
    font-family: Arial, Helvetica, sans-serif
}

.fa .add {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fa .get {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.fb ul {
    list-style: none;
    font-size: 18px;
    margin-bottom: 20px;

}

.fb ul li {
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}


.fcul {
    font-size: 14px;
    list-style: none;


}

.fc ul li {
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.sec9 .footer-b {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    color: aliceblue;
    background-color: black;
    text-align: center;
}

.sec9 .footer-b h5 {
    text-align: center;
    width: 90%;
    font-size: 15px;
}




@media (max-width:391px) {


    
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        display: ;
        width: 10%;
    }

    .menu a .search1 {
        display: none;
    }

    .menu a .search2 {}

    .menu a .search3 {
        display: none;
    }

    .menu a .search4 {
        display: none;
    }

    .menu a .search5 {}




    .navlogo {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 55%;
        width: 50%;
        background-image: url(img/tees.png);
        background-size: cover;
    }

    .navbar {
        width: 100%;
        height: 10vh;
    }

    .navbar2 {
        width: 100%;
        height: 100%;
        padding-top: ;
        display: flex;
        align-items: center;
    }

    .icon {

        width: 10%;
        display: flex;
    }

    .uppernav h5 {
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*side menu */

    .sidemenu {
        height: 100vh;
        width: 90%;
        background-color: whitesmoke;
        position: absolute;
        left: -115%;
        padding-left: ;
        padding-right: ;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }




    .log {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        border-bottom: 1px solid black;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: ;
    }

    .butt-log {

        font-size: 20px;
        border: 1px solid;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .login {
        display: flex;
        height: 6vh;
        align-items: center;
        justify-content: space-between;

    }

    .logina {
        font-size: 18px;
    }

    .close {
        font-size: 35px;
        border: 1px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-list {
        height: 50vh;
        width: 100%;
        background-color: ;
        display: inline-block;
        align-items: center
    }

    .menu-list ul {
        width: 100%;
        height: 100%;
        display: inline;
        padding: 0;
    }


    .menu-list ul a {
        text-align: center;
        font-size: 17px;
    }

    .menu-list ul a li {
        list-style: none;
        border-bottom: 1px ridge black;
        padding-bottom: 11px;
        padding-top: 11px;
    }


    .sidemenu .social {
        height: 26vh;
        width: 100%;
        background-color: ;
        display: ;
    }


    .sidemenu .social .line2 {
        height: 11vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .social .line1 {
        height: 11vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .sidemenu .social .line1 .media1,
    .media2,
    .media3 {
        height: 100%;
        width: 30%;
        background-color: ;
        border: 1px solid black;
        border-bottom: none;


    }

    .sidemenu .social .line1 .media1,
    .media2,
    .media3,
    a {
        text-align: center;
        font-size: 50px;
        align-items: center;


    }


    .sidemenu .social .line2 .media4,
    .media5,
    .media6 {

        height: 100%;
        width: 30%;
        background-color: ;
        border: 1px solid black;
        margin-top: 5px;

    }

    .sidemenu .social .line2 .media4,
    .media5,
    .media6,
    a {
        text-align: center;
        font-size: 50px;

    }


    .login-container {
        height: 50vh;
        width: 80%;
        background: whitesmoke;
        padding: 20px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 15px 15px 20px black;
        text-align: center;
    }
    
    .login-container a{
       font-size: 15px;
    }


      /*sec 9 */
      .sec9 {
        height: 170vh;
        width: 100%;
        padding-top: 60px;
        background-color: ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec9 .footer-a {
        height: 50%;
        width: 90%;
        display: block;
        color: aliceblue;
        background-color: black;
    }

    /*.footer-a .fb,.fc,.fd{
    height: 25%;
    width: 100%;
    
} */

    .footer-a .fa {
        height: 20%;
        width: 100%;
    }

    .footer-a .fb {
        height: 24%;
        width: 100%;
    }


    .footer-a .fc {
        height: 16%;
        width: 100%;
    }

    .footer-a .fd {
        height: 18%;
        width: 100%;
    }

    .fa {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
        border-bottom: 1px solid silver;

    }

    .fa h4 {
        font-size: 27px;
        font-weight: 2000;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .fa .add {
        font-size: 17px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .fa .get {
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .fb {
        border-bottom: 1px solid silver;
    }

    .fbul {
        text-align: center;
    }

    .fb ul {
        list-style: none;
        font-size: 18px;
        margin-bottom: 20px;

    }

    .fb ul li {
        margin-top: 20px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .fc {
        border-bottom: 1px solid silver;
    }

    .fcul {
        font-size: 14px;
        list-style: none;
        text-align: center;


    }

    .fc ul li {
        margin-bottom: 20px;
        cursor: pointer;
        margin-top: 20px;
    }

    .fd {
        text-align: center;
        margin-top: 40px;
        border-bottom: 1px solid silver;

    }

    .sec9 .footer-b {
        height: 5%;
        width: 90%;
        display: flex;
        align-items: center;
        color: aliceblue;
        background-color: black;
        text-align: center;
    }

    .sec9 .footer-b h5 {
        text-align: center;
        width: 90%;
        font-size: 15px;
    }


}